.containerTopNavbar {
  background: linear-gradient(90deg, var(--international-orange-500), var(--science-blue-500));
  height: 4rem;
}

[data-theme="dark"] .containerTopNavbar {
  background: linear-gradient(90deg, var(--international-orange-500), var( --shark-50));
}

.formWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(9.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2rem 4rem;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: #f4f6f7;
}

.formWrapper .form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  opacity: 1;
  z-index: 100;
  overflow: hidden;
  gap: 1rem;
}

.formWrapper h2 {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  color: var(--shark-800);
  text-transform: capitalize;
}

.formWrapper h3 {
  font-size: 1rem;
  color: var(--shark-800);
  font-weight: 500;
  text-align: center;
}

.validValueColor {
  border-color: var(--success);
}

.invalidValueColor {
  border-color: var(--error);
}

.defaultValueColor {
  border-color: rgba(255, 255, 255, 0.3);
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--shark-800);
}

.formGroup ::placeholder {
  color: var(--text-opacity);
}

.formGroup input {
  padding: 0.75rem;
  border-radius: 4px;
  border-width: 0.1rem;
  background: var(--background-opacity);
  color: var(--shark-800);
  font-size: 1rem;
  outline: none;
  transition: background 0.3s ease, border-color 0.3s ease; 
}

.formGroup input:focus {
  outline: none;
  background: var(--background-opacity);
}

.formGroup input:autofill {
  transition: background-color 604800s;
}

.formGroup input:autofill,
.formGroup input:-webkit-autofill {
  color: var(--shark-800) !important;
  -webkit-text-fill-color: var(--shark-800) !important;
}

.formGroup input::selection{
  color: var(--cumin-400) !important;
}

.formGroup input:focus::details-content{
  color: var(--cumin-400) !important;
}

.submitButton,
.referencePath {
  padding: 0.75rem 1.5rem;
  background: var(--shark-50);
  color: var(--shark-800);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  transition: all 0.3s ease;
}

.referencePath {
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.submitButton:hover,
.referencePath:hover {
  background: #0466c8;
}

[data-theme="light"] .submitButton:hover,
[data-theme="light"] .referencePath:hover {
  color: #f4f6f7;
}