.textDot {
  cursor: pointer;
  margin: 0 8px;
  font-weight: 500;
  color: var(--text);
  transition: color 0.3s;
}

.activeText {
  color: var(--text);
  font-weight: 700;
  border-bottom: 3px solid #fb5607;
}

[data-theme="dark"] .activeText {
  border-bottom: 3px solid var(--pale-prim-800);
}

.slider {
  position: relative;
  display: flex;
  width: 100%;
}

.itemWrapper {
  flex: 0 0 100%;
  width: 100%;
}

.textWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .textWrapper { padding: 2rem; }
}

.viewAlllink {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text);
}

@media screen and (min-width: 1024px) {
  .viewAlllink { margin-top: -3rem; }
}

.viewAllButton {
  position: relative;
  z-index: 10;
  background: linear-gradient(90deg, #f9572a, #ffc905);
  color: #ffffc2;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  font-weight: 500;
  font-size: medium;
  cursor: pointer;
  pointer-events: auto;
  transition: all 0.3s;
}

[data-theme="dark"] .viewAllButton {
  border: 1px solid #ffffc2 !important;
}

@media screen and (min-width: 1024px) {
  .viewAllButton {
    margin-top: 5rem;
    width: 30%;
  }
}

.viewAllButton:hover {
  filter: brightness(1.2);
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background: #fb5607;
  cursor: pointer;
}

[data-theme="dark"] .dot {
  background: #ffffc2;
}

.opacity50 {
  opacity: 0.5;
}

.opacity100 {
  opacity: 1;
}



