.textDot {
  cursor: pointer;
  margin: 0 8px;
  font-weight: 500;
  color: var(--text);
  transition: color 0.3s;
}

.activeText {
  color: var(--text);
  font-weight: 700;
  border-bottom: 3px solid #fb5607;
}

[data-theme="dark"] .activeText {
  border-bottom: 3px solid var(--pale-prim-800);
}

.slider {
  position: relative;
  display: flex;
  width: 100%;
}

.itemWrapper {
  flex: 0 0 100%;
  width: 100%;
}

.textWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .textWrapper {
    padding: 2rem;
  }
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background: #fb5607;
  cursor: pointer;
}

[data-theme="dark"] .dot {
  background: #ffffc2;
}

.opacity50 {
  opacity: 0.5;
}

.opacity100 {
  opacity: 1;
}