.containerWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  opacity: 1;
  z-index: 100;
  color: var(--shark-900);
  padding-bottom: 5rem;
  padding-top: 4rem;
}

@media screen and (min-width: 1024px) {
  .containerWrapper {
    flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  .containerWrapper {
    padding-top: 0;
  }
  
}

[data-theme="dark"] .containerWrapper,
.loading  {
  background:var(--background);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffc2;
  height: 100vh;
  width: 100%;
  z-index: 10;
  position: relative;
}

.formSection, .infoSection {
  flex: 1;
  color: var(--shark-900);
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 8px;
  width: 98%;
  background: var(--text-low-opacity);
  border: 1px solid var(--text-low-opacity);
}

@media screen and (min-width: 768px) {
  .formSection, .infoSection {
    margin: 3rem;
    width: 70%;
  }
}

@media screen and (min-width: 1280px) {
  .formSection, .infoSection {
    margin: 6rem;
  }
}

.formSection h2,
.infoSection h2 {
  margin-bottom: 1rem;
}

[data-theme="dark"] .formSection,
[data-theme="dark"] .infoSection {
  color: var(--pale-prim-900);
}

.formSection .error {
  color: var(--error);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form label {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.input, .textarea {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.input:focus, .textarea:focus {
  outline: none;
}

.textarea {
  resize: none;
}

.button {
  padding: 0.7rem;
  border: none;
  background: var(--science-blue-800);
  color: var(--science-blue-50);
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease;
  margin-right: 0.5rem;
  border: none !important;
}

.button:hover {
  filter: brightness(1.1);
}

.reservationCard {
  background: var(--background-opacity);
  padding: 2rem;
  border-radius: 6px;
}

.reservationCard .infoItem {
  margin: 0.5rem 0;
  font-size: medium;
}

.reservationCard .infoItem .bold {
  width: 5rem;
  display: inline-block;
  font-weight: bolder;
  letter-spacing: 0.05rem;
}

[data-theme="dark"] .reservationCard .infoItem .bold {
  color: var(--shark-300);
}
