.dropdownContainer {
  display: flex;
  flex-direction: column;
}
.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
   top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  animation: moveToBottom 1s ease-in-out;
}

.iconWrapper {
  padding-top: 2rem;
}

@keyframes moveToBottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0); 
  }
}