.active {
  background: var(--monza-600);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  cursor: default;
}

[data-theme="dark"] .active {
  background: var(--pale-prim-800);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}