.active {
  position: relative;
  font-weight: 800 !important;
}

.active::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 2px;
  background: var(--charm-500);
  border-radius: 2px;
}

[data-theme="dark"] .active::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 2px;
  background: var(--apple-500);
  border-radius: 2px;
}

@media (max-width: 1024px) {

  .active::before,
  [data-theme="dark"] .active::before {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 15%;
    transform: translateX(-50%);
    width: 30px;
    height: 2px;
    border-radius: 2px;
  }
}

.active::after {
  content: "";
  display: inline-block;
  margin: 4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--charm-500);
}

[data-theme="dark"] .active::after {
  content: "";
  display: inline-block;
  margin: 4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--apple-500);
}