.submitButton {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitButton:disabled,
.submitButton:hover:disabled,
.submitButton:focus:disabled {
  cursor: not-allowed;
  filter: brightness(0.9);
}

@media (max-width: 768px) {
  .submitButton {
    width: 70%;
  }
}