.animateInRight { animation: animateInRight 1s ease-out forwards; }
@keyframes animateInRight {
  from {
    opacity: 0;
    transform: translateX(20%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.cardsWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  opacity: 0;
}

.cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 90vw;
  height: 100%;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  color: #ddd6cb;
  background: linear-gradient(45deg, var(--science-blue-950), var(--science-blue-400));
}

[data-theme="dark"] .card {
  background: var(--background);
}

.card .cardTextLeft {
  padding: 2rem;
  z-index: 10;
}

.cardTextLeft p {
  max-width: 90%;
  font-size: .85rem;
  color: #ddd6cb;
}

.cardTextLeft h2 {
  font-size: 1.3rem;
  color: #ffffc2;
}

@media screen and (min-width: 1024px) {
  .cardTextLeft p { font-size: medium;}
  .cardTextLeft h2 { 
    font-size: 1.5rem; 
    margin-bottom: .5rem;
    padding: 1rem 0;
  }
}

.card:nth-child(1):hover {
  /* filter: hue-rotate(-180deg); */
  cursor: pointer;
}

.learnMoreLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  width: 20vh;
  height: 5vh;
  border: 1px solid #ffffc2;
  margin-top: 1rem;
  transition: transform 0.5s ease-out;
}

.learnMoreLeft a {
  text-decoration: none;
  color: #ffffc2;
  font-size: large;
}

[data-theme="dark"] .learnMoreLeft a {
  color: var(--pale-prim-900);
}

.learnMoreLeft:hover a{
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideLeft 0.3s ease-out forwards;
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-5px); /* Yazıyı sola kaydır */
  }
}

.arrow { display: none;}

.learnMoreLeft:hover .arrow { 
  display: inline-flex;
  justify-content: center;
  align-items: center;
  animation: animateInRight 1s ease-out forwards;
}

.sunWrapper {
  display: none;
}

.sun {
  position: absolute;
  bottom: -10%;
  right: -10%;
  width: 25%;
  height: 50%;
  stroke-width: 1;
  filter: brightness(0.8);
  transform: scale(0.7);
  transition: bottom 0.5s ease-out, right 0.5s ease-out, filter 0.5s ease-out, transform 0.5s ease-out; 
}

.card:hover .sun{
  bottom: 20%;
  right: 10%;
  filter: brightness(1);
  transform: scale(1);
  stroke: #e1b453;
  stroke-width: 0.5;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.cardClick {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  background: var(--background-opacity);
  color: var(--text);
}

.card:hover .cardClick{
  display: none;
}

.cardClick svg {
  padding-left: .5rem;
}

.card:hover img{
  filter: brightness(0.3);
  cursor: pointer;
}

.card .cardText {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  padding: 1rem;
}

.cardText p {
  padding-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .card .cardText { 
    padding: 2rem; 
    top: 10%;
  }
}

.card:hover .cardText {
  opacity: 1;
  z-index: 10;
  animation: animateInBottom .5s ease-out forwards;
  cursor: pointer;
}

.cardText h2 {
  padding-bottom: 1vh;
  font-size: medium;
  font-size: 1.3rem;
  color: #ffffc2;
}

@media screen and (min-width: 1024px) {
  .cardText h2 { 
    font-size: 1.5rem; 
    margin-bottom: .5rem;
  }
}

.cardText p {
  font-size: .85rem;
}

@media screen and (min-width: 1024px) {
  .cardText p { font-size: medium;}
  
}

.cardText .learnMore {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 2rem;
  bottom: -20%;
  text-decoration: none;
  padding: 0 1rem;
  border-radius: 0.4rem;
  width: 20vh;
  height: 5vh;
  border: 1px solid #ffffc2;
  color: #ffffc2;
  transition: all 0.3s ease-in-out;
  filter: brightness(0.8);
}

[data-theme="dark"] .cardText .learnMore {
  border: 1px solid var(--pale-prim-900);
  color: var(--pale-prim-900);
}

.cardText .learnMore:hover {
  filter: brightness(1);
}

@media screen and (min-width: 768px) {
  .cards {
    flex-direction: row;
    width: 100%;
    height: 90%;
  }

  .card {
    width: 40vw;
    margin-inline: 2rem;
    height: 90%;
  }
  
  .card .cardText {
    left: 0;
    bottom: 0;
  }

  .cardText p {
    font-size: 1rem;
  }

  .cardText h2 {
    font-size: large;
  }

  .sunWrapper {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50%;
    width: 100%;
  }
  .card:hover .sun{
    bottom: 15%;
    right: 5%;
  }

  .cardClick {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 30vw;
  }

  .cardText {
    left: 0;
    bottom: 30%;
  }

  .cardText h2 {
    font-size: x-large;
  }
}