.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background: var(--background);
  min-height: 100vh;
  width: 100%;
  z-index: 10;
  padding: 5rem 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 60%;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  color: var(--text);
  padding-bottom: 1rem;
}

.header h1 {
  font-size: 1.5rem;
}

.header p {
  font-size: .9rem;
}

.header h1,
.header p {
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 640px) {
  .header {
    align-items: center;
  }

}

@media screen and (min-width: 1024px) {
  .header {
    padding-bottom: 3rem;
  }

  .header h1 {
    font-size: 3rem;
  }

  .header p {
    font-size: 1.2rem;
  }

}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
}