.non-user-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text);
  font-size: 1.4rem;
  width: 100%;
  text-align: center;
  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background: var(--background);
  min-height: 100vh;
  width: 100%;
  z-index: 10;
  padding: 5rem 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 60%;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  color: var(--text);
  padding-bottom: 1rem;
}

.header h1 {
  font-size: 1.5rem;
}

.header p {
  font-size: .9rem;
}

.header h1,
.header p {
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 640px) {
  .header {
    align-items: center;
  }

}

@media screen and (min-width: 1024px) {
  .header {
    padding-bottom: 3rem;
  }

  .header h1 {
    font-size: 3rem;
  }

  .header p {
    font-size: 1.2rem;
  }

}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
}

.form {
  width: 100%;
}

.form label {
  display: block;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: var(--text-opacity);
  font-weight: bold;
}

.form textarea {
  resize: none;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid var(--shark-200);
  background: var(--shark-50);
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  color: var(--shark-800);
}

.form input:focus,
.form textarea:focus {
  outline-color: #f99f2a;
  background: var(--background-opacity);
}

.row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row p {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .row {
    flex-direction: row;
  }

}

/* .actions {
  text-align: right;
} */

.actions button {
  border: 0;
  padding: 0.75rem 2rem;
  background: linear-gradient(90deg, #f9572a, #ff9b05);
  border: none;
  color: #ffffff;
  border-radius: 2px;
  cursor: pointer;
  font: inherit;
  font-weight: 900;
  font-size: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 10rem;
  filter: brightness(0.9);
  transition: all 0.3s ease-in-out;
}

.actions button:hover,
.actions button:focus {
  filter: brightness(1.1);
}

.actions button:disabled,
.actions button:hover:disabled,
.actions button:focus:disabled {
  background: #ccc;
  color: #979797;
  cursor: not-allowed;
}