.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  z-index: 100;
}

.header {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
  width: 90%;
  max-width: 75rem;
  color: var(--shark-800)
}

.header h1 {
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 0.05rem;
}

.header p {
  font-size: 1rem;
  text-align: center;
  color: var(--text);
}

@media screen and (min-width: 1024px) {
  .header {
     margin: 1rem auto;
  }

  .header h1 { font-size: 2rem;}
  .header p { font-size: 1.2rem;} 
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 1rem;
  padding-bottom: 1rem;
  z-index: 1000;
}

.contactWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 1rem;
  padding: 0 1rem 3rem;
}

@media screen and (min-width: 1024px) {
  .contactWrapper {
    padding: 0 5rem;
  }
  
}

@media screen and (min-width: 1024px) {
  .contactWrapper {
    flex-direction: row;
  }
  
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 18px;
  color: var(--shark-800);
}

@media screen and (min-width: 1024px) {
  .formWrapper {
    height: 100%;
  }
  
}

.leftArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex: 1;
  border-radius: 24px;
  color: var(--shark-800);
}

.mapWrapper {
  height: 100%;
  border-radius: 16px;
  padding-bottom: .5rem;
  flex: 1;
  width: 100%;
}

.mapWrapper iframe {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  border: none;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(9.3px);
  height: 30%;
  width: 100%;
  border-radius: 8px;
  padding: .5rem 1rem;
  gap: .5rem;
}

@media screen and (min-width: 640px) {
  .contactInfo {
    flex-direction: row;
  }
  
}

.contactInfo .infoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: auto;
  color: #f4f4f4;
  gap: .5rem;
}

.contactInfo .infoWrapper .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

/* .contactInfo .infoWrapper .info h3{
  border-bottom: 1px solid #dedede;
} */

.info h3 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.info p {
  font-size: .8em;
  letter-spacing: 0.05rem;
}

@media screen and (min-width: 1024px) {
  .info h3 {
    font-size: 1.1rem;
  }

  .info p {
    font-size: .9rem;
  }
}

