.containerBottom {
  position: fixed;
  z-index: 1000;
  right: 2rem;
  bottom: 1.5rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--charm-500);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.containerBottom:hover {
  filter: brightness(1.2);
}

[data-theme="dark"] .containerBottom {
  background: var(--apple-500);
}

[data-theme="dark"] .containerBottom:hover {
  filter: brightness(1.2);
}

@media screen and (min-width: 1024px) {
  .containerBottom {
    padding: 0.4rem;
  }
}