.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.cta:first-child svg {
  width: 1.2rem;
  height: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.cta:first-child:hover svg {
  transform: rotate(-20deg) scale(1.2);
}

.cta:nth-child(2) svg {
  width: 1rem;
  height: 1rem;
  margin-right: -1.5rem;
  transition: transform 0.3s ease-in-out;
}

.cta:nth-child(2):hover svg {
  transform: translateX(0.5rem) scale(1.1);
}