.containerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 100;
  position: relative;
  gap: 2rem;
  border-radius: 8px;
}

.card {
  width: 100%;
  height: 32rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .card {
    height: 36rem;
  }
}

.profileWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.profileWrapper h3 {
  font-size: 1.2rem;
  color: var(--shark-800);
  text-align: center;
}

/* ---------------------------------------- authProfile ---------------------------------------- */

.authProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--shark-50);
  border-radius: 8px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(9.3px);
  padding: 1rem 2rem;
  gap: 1rem;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 90%;
  background: var(--shark-100);
  border-radius: .5rem;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(9.3px);
  padding: 1rem;
}

.updateSection input,
.updateSection button {
  width: 90%;
  border-radius: 4px;
  border: none;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(9.3px);
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: lowercase;
  text-align: center;
  padding: 0.5rem 3.5em;
  font-size: medium;
  cursor: pointer;
  transition: all 0.1s ease;
}

@media screen and (min-width: 640px) {

  .profileInfo,
  .updateSection input,
  .updateSection button {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {

  .profileInfo,
  .updateSection input,
  .updateSection button {
    width: 70%;
  }
}

.mailInfo,
.nameInfo {
  color: var(--shark-800);
}

.mailInfo span,
.nameInfo span {
  display: inline-block;
  font-size: medium;
  color: var(--shark-800);
  width: 3rem;
  font-weight: bolder;
}

.errorMessage {
  color: var(--international-orange-500);
  font-size: .9rem;
}

.updateSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}



/* ---------------------------------------- nonAuthProfile ---------------------------------------- */

.nonAuthProfile {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.referencePathBtn {
  padding: 0.75rem 1.5rem;
  margin: 2em 0;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}