.container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 4rem;
  opacity: 1;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 1.5rem;
  backdrop-filter: blur(5px);
}

.nav {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3rem;
}

/*? according to scroll status */
.navbarScroll {
  opacity: 1;
  color: var(--text);
  z-index: 10000000000000;
  background: var(--background);
  backdrop-filter: blur(5px);
  transition: all 0.3s ease-in-out;
}

.container.navbarScroll::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  height: 1px;
  animation: moveRightToLeft 5s linear infinite;
  z-index: 1;
  backdrop-filter: blur(5px);
}

@keyframes moveRightToLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.desktopNav ul,
.mobileNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktopNav a,
.mobileNav a {
  text-decoration: none;
  font-weight: 600;
}

.desktopNav a:hover,
.mobileNav a:hover {
  background: linear-gradient(90deg, var(--international-orange-600), var(--international-orange-500)) !important;
  filter: brightness(1.2);
  background-clip: text !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

/*? mobile screen (default, <1024px) */
.desktopNav { display: none; }

.mobileNav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.mobileNav ul li a{
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5em;
}

.mobileNav ul li {
  text-align: center;
  padding: 1rem 0;
  font-size: 1.2rem;
}

.mobileNav a { color: var(--text); }

/*? Desktop screen (≥1024px) */
@media (min-width: 1024px) {
  .mobileNav { display: none; }

  .nav {
    align-items: center;
    justify-content: center;
  }

  /* .container:not(.navbarScroll) .container .header {
    display: flex;
    background: var(--background-opacity);
    backdrop-filter: opacity(0.2) blur(5px);
    -webkit-backdrop-filter: opacity(0.2) blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
  }

  .container.navbarScroll .container .header .nav .desktopNav {
    display: flex;
    background:transparent;
  } */


  .desktopNav {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .desktopNav ul { font-size: 1rem; } 
  .desktopNav a { padding: 0.5rem 1rem; }
}

/*? x-large desktop */
@media (min-width: 1280px) {
  .desktopNav ul {
    gap: 0.7rem;
    font-size: 1rem;
  }

  .header { padding: 0.5rem 2rem; }
}