.container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 4rem;
  opacity: .95;
  transition: all 0.3s ease-in-out;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 1.5rem;
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3rem;
}

/*? according to scroll status */
.navbarScroll {
  background-color: var(--background);
  opacity: 0.9;
  color: var(--text);
  z-index: 10000000000000;
}

.desktopNav ul,
.mobileNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.desktopNav a,
.mobileNav a {
  text-decoration: none;
  font-weight: 600;
}

.desktopNav a:hover,
.mobileNav a:hover {
  background: linear-gradient(90deg, var(--international-orange-600), var(--international-orange-500)) !important;
  filter: brightness(1.2);
  background-clip: text !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

/*? mobile screen (default, <1024px) */
.desktopNav {
  display: none;
}

.mobileNav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.mobileNav ul {
  flex-direction: column;
}

.mobileNav ul li {
  text-align: center;
  padding: 1rem 0;
  font-size: 1.2rem;
}

/*? Desktop screen (≥1024px) */
@media (min-width: 1024px) {
  .mobileNav {
    display: none;
  }

  .nav {
    align-items: center;
    justify-content: center;
  }

  .desktopNav {
    display: flex;
  }

  .desktopNav {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .desktopNav ul {
    font-size: 1rem;
  }

  .desktopNav a {
    padding: 0.5rem 1rem;
  }
}

/*? x-large desktop (≥1280px) */
@media (min-width: 1280px) {
  .desktopNav ul {
    gap: 0.7rem;
    font-size: 1rem;
  }

  .header {
    padding: 0.5rem 2rem;
  }
}