.container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 4rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out
}

.navbarScroll {
  background-color: var(--background);
  opacity: 0.9;
  color: var(--text);
  z-index: 10000000000000;
}

html:not([data-theme]) .container:not(.navbarScroll) .nav a{
  color: #E5E5E5;
}

html:not([data-theme]) .container.navbarScroll .nav a{
  color: #1A1A1A;
}

[data-theme="light"] .container:not(.navbarScroll) .nav a {
  color: #E5E5E5;
}

[data-theme="light"] .container.navbarScroll .nav a {
  color: var(--text);
}
/*end*/

.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  font-size: 1.1rem;
}

.nav a {
  text-decoration: none;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.nav a:hover {
 background: linear-gradient(90deg, var(--international-orange-600), var(--international-orange-500));
 filter: brightness(1.2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
}