.containerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  opacity: 1;
  z-index: 100;
  background: var(--background);
  color: var(--text);
  position: relative;
}

.containerTopNavbar {
  background: linear-gradient(90deg, var(--international-orange-500), var(--science-blue-500));
  height: 4rem;
}

[data-theme="dark"] .containerTopNavbar {
  background: linear-gradient(90deg, var(--international-orange-500), var( --shark-50));
}

