.formWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(9.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1rem 2rem;
}

.formWrapper h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.formGroup ::placeholder {
  color: var(--text-opacity);
}

.formGroup input,
.formGroup textarea {
  padding: 0.75rem;
  border-radius: 4px;
  border-width: 0.1rem;
  background: var(--background-opacity);
  color: var(--shark-800);
  font-size: 1rem;
  outline: none;
  transition: background 0.3s ease, border-color 0.3s ease; 
}

.formGroup input:focus,
.formGroup textarea:focus {
  outline: none;
  background: none;
}

.formGroup input:autofill {
  transition: background-color 604800s;
}

.formGroup input:autofill,
.formGroup input:-webkit-autofill {
  color: var(--shark-800) !important;
  -webkit-text-fill-color: var(--shark-800) !important;
}

.formGroup textarea {
  resize: none;
}

.formGroup input::selection{
  color: var(--science-blue-500) !important;
}

.formGroup input:focus::details-content{
  color: var(--science-blue-500) !important;
}


.submitButton {
  padding: 0.75rem 1.5rem;
  background: var(--background);
  color: var(--shark-800);
  border: 1px solid var(--shark-200);
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  filter: brightness(0.8);
  transition: all 0.3s ease-in-out;
}

.submitButton:hover {
  filter: brightness(1);
}

[data-theme="dark"] .submitButton {
   color: var(--pale-prim-900);
   border: none;
}

.formStatus {
  color: var(--primary);
  font-size: 0.9rem;
  margin-top: 0.5rem;
  text-align: center;
  position: absolute;
  top: -5px;
}

.validValueColor {
  border-color: var(--success);
}

.invalidValueColor {
  border-color: var(--error);
}

.defaultValueColor {
  border-color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 768px) {
  .formWrapper {
    min-width: 100%;
    align-items: center;
  }
}