.sliderWrapper {
  display: flex;
  width: 100%;
  overflow: hidden;
  margin-top: 1rem;
  z-index: 10;
}

.track {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  padding-bottom: 3rem;
  animation: scrollLeft linear infinite;
}

/* Pause sliding on hover */
.sliderWrapper:hover .track {
  animation-play-state: paused;
}

.slideGroup {
  display: flex;
  flex-shrink: 0;
  width: var(--group-width);
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-1 * var(--group-width)));
  }
}

.itemsWrapper {
  flex: 0 0 auto;
  justify-content: center;
  display: flex;
  height: auto;
  font-size: 1.2rem;
  backdrop-filter: opacity(0.5);
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}