@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Montserrat:wght@400;700&display=swap');

:root {
  /* Shark Palette */
  --shark-50: #f4f6f7;
  --shark-100: #e3e7ea;
  --shark-200: #cbd3d6;
  --shark-300: #a6b4ba;
  --shark-400: #7a8c96;
  --shark-500: #5f717b;
  --shark-600: #515f69;
  --shark-700: #465058;
  --shark-800: #3e454c;
  --shark-900: #373d42;
  --shark-950: #212529;

  /* Pale Prim Palette */
  --pale-prim-50: #fefee8;
  --pale-prim-100: #ffffc2;
  --pale-prim-200: #fffb88;
  --pale-prim-300: #fff244;
  --pale-prim-400: #fee211;
  --pale-prim-500: #eec904;
  --pale-prim-600: #cd9c01;
  --pale-prim-700: #a47004;
  --pale-prim-800: #87570c;
  --pale-prim-900: #734710;
  --pale-prim-950: #432505;

  /* Science Blue Palette */
  --science-blue-50: #ecfbff;
  --science-blue-100: #d5f4ff;
  --science-blue-200: #b4eeff;
  --science-blue-300: #80e6ff;
  --science-blue-400: #44d4ff;
  --science-blue-500: #19b7ff;
  --science-blue-600: #0299ff;
  --science-blue-700: #0080fa;
  --science-blue-800: #0466c8;
  --science-blue-900: #0b589d;
  --science-blue-950: #0c355f;

  /* International Orange Palette */
  --international-orange-50: #fff7ec;
  --international-orange-100: #ffecd3;
  --international-orange-200: #ffd5a7;
  --international-orange-300: #ffb76f;
  --international-orange-400: #ff8d35;
  --international-orange-500: #ff6e0e;
  --international-orange-600: #fb5607;
  --international-orange-700: #c93a05;
  --international-orange-800: #9f2f0d;
  --international-orange-900: #80290e;
  --international-orange-950: #451205;

  /* Fuego Palette */
  --fuego-50: #fcfde8;
  --fuego-100: #f6facd;
  --fuego-200: #edf6a0;
  --fuego-300: #ddee68;
  --fuego-400: #cae13a;
  --fuego-500: #c1df1f;
  --fuego-600: #869e12;
  --fuego-700: #667912;
  --fuego-800: #516014;
  --fuego-900: #445116;
  --fuego-950: #232d06;

  /* Razzmatazz Palette */
  --razzmatazz-50: #fef1f7;
  --razzmatazz-100: #fde6f1;
  --razzmatazz-200: #fdcde4;
  --razzmatazz-300: #fda4cd;
  --razzmatazz-400: #fa6caa;
  --razzmatazz-500: #f3418a;
  --razzmatazz-600: #da1b60;
  --razzmatazz-700: #c6104d;
  --razzmatazz-800: #a31140;
  --razzmatazz-900: #881338;
  --razzmatazz-950: #53041c;

  /************************* Main Colors *********************/
  --background: #e0e0e0;
  --background-high: #edf6f970;
  --background-opacity: #edf6f950;
  --background-low-opacity: #edf6f910;

  --text: #1a1a1a;
  --text-high: #1a1a1a95;
  --text-opacity: #1a1a1a90;
  --text-low-opacity: #1a1a1a10;

  --border: #D3D3D3;

  --accent: #F4A261;
  --accent-dark: #E68A44;
  --accent-light: #F7B384;

  /* Feedback Colors */
  --success: #28A745;
  --error: #DC3545;

  overflow-x: hidden;
}

[data-theme="dark"] {
  /* Shark Palette */
  --shark-50: #212529;
  --shark-100: #373d42;
  --shark-200: #3e454c;
  --shark-300: #465058;
  --shark-400: #515f69;
  --shark-500: #5f717b;
  --shark-600: #7a8c96;
  --shark-700: #a6b4ba;
  --shark-800: #cbd3d6;
  --shark-900: #e3e7ea;
  --shark-950: #f4f6f7;

  /* Pale Prim Palette */
  --pale-prim-50: #432505;
  --pale-prim-100: #734710;
  --pale-prim-200: #87570c;
  --pale-prim-300: #a47004;
  --pale-prim-400: #cd9c01;
  --pale-prim-500: #eec904;
  --pale-prim-600: #fee211;
  --pale-prim-700: #fff244;
  --pale-prim-800: #fffb88;
  --pale-prim-900: #ffffc2;
  --pale-prim-950: #fefee8;


  /* Science Blue Palette */
  --science-blue-50: #0c355f;
  --science-blue-100: #0b589d;
  --science-blue-200: #0466c8;
  --science-blue-300: #0080fa;
  --science-blue-400: #0299ff;
  --science-blue-500: #19b7ff;
  --science-blue-600: #44d4ff;
  --science-blue-700: #80e6ff;
  --science-blue-800: #b4eeff;
  --science-blue-900: #d5f4ff;
  --science-blue-950: #ecfbff;

  /* International Orange Palette */
  --international-orange-50: #451205;
  --international-orange-100: #80290e;
  --international-orange-200: #9f2f0d;
  --international-orange-300: #c93a05;
  --international-orange-400: #fb5607;
  --international-orange-500: #ff6e0e;
  --international-orange-600: #ff8d35;
  --international-orange-700: #ffb76f;
  --international-orange-800: #ffd5a7;
  --international-orange-900: #ffecd3;
  --international-orange-950: #fff7ec;

  /* Fuego Palette */
  --fuego-50: #232d06;
  --fuego-100: #445116;
  --fuego-200: #516014;
  --fuego-300: #667912;
  --fuego-400: #869e12;
  --fuego-500: #c1df1f;
  --fuego-600: #cae13a;
  --fuego-700: #ddee68;
  --fuego-800: #edf6a0;
  --fuego-900: #f6facd;
  --fuego-950: #fcfde8;

  /* Razzmatazz Palette */
  --razzmatazz-50: #fef1f7;
  --razzmatazz-100: #fde6f1;
  --razzmatazz-200: #fdcde4;
  --razzmatazz-300: #fda4cd;
  --razzmatazz-400: #fa6caa;
  --razzmatazz-500: #f3418a;
  --razzmatazz-600: #da1b60;
  --razzmatazz-700: #c6104d;
  --razzmatazz-800: #a31140;
  --razzmatazz-900: #881338;
  --razzmatazz-950: #53041c;

  /* Main Colors*/
  --background: #1a1a1a;
  --background-high: #1A1A1A70;
  --background-opacity: #1A1A1A50;
  --background-low-opacity: #1A1A1A10;

  --text: #e0e0e0;
  --text-opacity: #f4f4f950;
  --text-low-opacity: #f4f4f910;

  --border: #4B4B4B;

  --success: #34C759;
  --error: #FF4C4C;
}

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Quicksand', sans-serif;
  background: var(--background);
}

body {
  margin: 0;
  background: var(--background);
  overflow-x: hidden;
}

.containerTopNavbarColor {
  height: 4rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

[data-theme="light"] .containerTopNavbarColor {
  background: var(--science-blue-800);
}

/* NOT-FOUND PAGE && ERROR PAGE */
.not-found,
.error {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  z-index: 100;
  gap: 1rem;
}

.not-found p,
.error p {
  font-weight: 500;
  color: #ffffc2;
}

.not-found a,
.error a {
  border-radius: 4px;
  border: none;
  color: var(--text);
  background: var(--background);
  border: 1px solid var(--border);
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: lowercase;
  text-decoration: none;
  padding: 0.5rem 3.5em;
  margin: .5rem 1rem;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.1s ease;
}

.not-found a:hover,
.error a:hover {
  filter: brightness(1.1);
}

/**************************/

/* ---------------------------- FOOTER ---------------------------- */
.footerWrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.footer {
  color: var(--text);
  border-radius: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

[data-theme="light"] .footer,
[data-theme="light"] .background-gradient {
  background-image:
    linear-gradient(46deg,
      rgba(18, 18, 18, 0.01) 0%,
      rgba(18, 18, 18, 0.01) 50%,
      rgba(10, 10, 10, 0.01) 50%,
      rgba(10, 10, 10, 0.01) 100%),
    linear-gradient(338deg,
      rgba(232, 232, 232, 0.03) 0%,
      rgba(232, 232, 232, 0.03) 50%,
      rgba(174, 174, 174, 0.03) 50%,
      rgba(174, 174, 174, 0.03) 100%),
    linear-gradient(26deg,
      rgba(180, 180, 180, 0.02) 0%,
      rgba(180, 180, 180, 0.02) 50%,
      rgba(191, 191, 191, 0.02) 50%,
      rgba(191, 191, 191, 0.02) 100%),
    linear-gradient(129deg,
      rgba(52, 52, 52, 0.03) 0%,
      rgba(52, 52, 52, 0.03) 50%,
      rgba(188, 188, 188, 0.03) 50%,
      rgba(188, 188, 188, 0.03) 100%),
    linear-gradient(86deg,
      rgba(234, 234, 234, 0.03) 0%,
      rgba(234, 234, 234, 0.03) 50%,
      rgba(100, 100, 100, 0.03) 50%,
      rgba(100, 100, 100, 0.03) 100%),
    linear-gradient(73deg,
      rgba(203, 203, 203, 0.02) 0%,
      rgba(203, 203, 203, 0.02) 50%,
      rgba(24, 24, 24, 0.02) 50%,
      rgba(24, 24, 24, 0.02) 100%),
    linear-gradient(90deg, #0466c8, #0080fa);
}

[data-theme="dark"] .footer,
[data-theme="dark"] .background-gradient {
  background-image:
    linear-gradient(46deg,
      rgba(18, 18, 18, 0.01) 0%,
      rgba(18, 18, 18, 0.01) 50%,
      rgba(10, 10, 10, 0.01) 50%,
      rgba(10, 10, 10, 0.01) 100%),
    linear-gradient(338deg,
      rgba(232, 232, 232, 0.03) 0%,
      rgba(232, 232, 232, 0.03) 50%,
      rgba(174, 174, 174, 0.03) 50%,
      rgba(174, 174, 174, 0.03) 100%),
    linear-gradient(26deg,
      rgba(180, 180, 180, 0.02) 0%,
      rgba(180, 180, 180, 0.02) 50%,
      rgba(191, 191, 191, 0.02) 50%,
      rgba(191, 191, 191, 0.02) 100%),
    linear-gradient(129deg,
      rgba(52, 52, 52, 0.03) 0%,
      rgba(52, 52, 52, 0.03) 50%,
      rgba(188, 188, 188, 0.03) 50%,
      rgba(188, 188, 188, 0.03) 100%),
    linear-gradient(86deg,
      rgba(234, 234, 234, 0.03) 0%,
      rgba(234, 234, 234, 0.03) 50%,
      rgba(100, 100, 100, 0.03) 50%,
      rgba(100, 100, 100, 0.03) 100%),
    linear-gradient(73deg,
      rgba(203, 203, 203, 0.02) 0%,
      rgba(203, 203, 203, 0.02) 50%,
      rgba(24, 24, 24, 0.02) 50%,
      rgba(24, 24, 24, 0.02) 100%),
    linear-gradient(90deg, rgb(26, 26, 26), rgb(0, 0, 0));
}


[data-theme="dark"] .mainBackground {
  background: #1A1A1A;
}

[data-theme="light"] .mainBackground {
  background: #e0e0e0;
}

/* ---------------------------- END ---------------------------- */

.animatedSections {
  position: relative;
  width: 100%;
  padding-top: 3rem;
}

/* ---------------------------- Gold Theme ---------------------------- */

.highlight-gradient-text {
  font-family: 'Montserrat', sans-serif;
  /* background: linear-gradient(90deg, #0c355f ,#0b589d); */
  background: #212529;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1.highlight-gradient-text {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  h1.highlight-gradient-text {
    font-size: 3rem;
  }
}

[data-theme="dark"] .highlight-gradient-text {
  background-image:
    repeating-linear-gradient(to right, #a2682a 0%, #ffffc2 8%, #ffffc2 18%, #d3b15f 27%, #faf0a0 35%, #ffffc2 40%, #faf0a0 50%,
      #d3b15f 58%, #be8c3c 67%, #b17b32 77%, #bb8332 83%, #d4a245 88%, #e1b453 93%, #a4692a 100%);
  background-size: 150%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient-full-gold-text {
  background-image:
    repeating-linear-gradient(to right, #a2682a 0%, #ffffc2 8%, #ffffc2 18%, #d3b15f 27%, #faf0a0 35%, #ffffc2 40%, #faf0a0 50%,
      #d3b15f 58%, #be8c3c 67%, #b17b32 77%, #bb8332 83%, #d4a245 88%, #e1b453 93%, #a4692a 100%);
  background-size: 150%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

[data-theme="dark"] .text-gold-on-dark {
  color: var(--pale-prim-900);
  background: var(--shark-100);
}

/* ------------------------------ Button ------------------------------ */
[data-theme="dark"] .button-gold-on-dark {
  color: var(--pale-prim-900);
  background: var(--background);
}

.blueButton {
  color: var(--science-blue-50);
  background: var(--science-blue-800);
}

.blueButton:hover,
.button-gold-on-dark:hover {
  filter: brightness(1.1);
}

[data-theme="dark"] input.blueButton::placeholder {
  color: var(--pale-prim-900);
}

input.blueButton::placeholder {
  color: var(--background);
  opacity: .5;
  font-weight: lighter;
}