@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Montserrat:wght@400;700&display=swap');

:root {
    /* Shark Palette */
  --shark-50: #f4f6f7;
  --shark-100: #e3e7ea;
  --shark-200: #cbd3d6;
  --shark-300: #a6b4ba;
  --shark-400: #7a8c96;
  --shark-500: #5f717b;
  --shark-600: #515f69;
  --shark-700: #465058;
  --shark-800: #3e454c;
  --shark-900: #373d42;
  --shark-950: #212529;

    /* Mondok Palette */
  --mondo-50: #f7f6ef;
  --mondo-100: #ebead6;
  --mondo-200: #d9d5af;
  --mondo-300: #c3ba81;
  --mondo-400: #b1a25e;
  --mondo-500: #4b4737;
  --mondo-600: #8b7643;
  --mondo-700: #705a38;
  --mondo-800: #5f4c34;
  --mondo-900: #48392a;
  --mondo-950: #2f2419;


    /* Science Blue Palette */
  --science-blue-50: #ecfbff;
  --science-blue-100: #d5f4ff;
  --science-blue-200: #b4eeff;
  --science-blue-300: #80e6ff;
  --science-blue-400: #44d4ff;
  --science-blue-500: #19b7ff;
  --science-blue-600: #0299ff;
  --science-blue-700: #0080fa;
  --science-blue-800: #0466c8;
  --science-blue-900: #0b589d;
  --science-blue-950: #0c355f;

    /* International Orange Palette */
  --international-orange-50: #fff7ec;
  --international-orange-100: #ffecd3;
  --international-orange-200: #ffd5a7;
  --international-orange-300: #ffb76f;
  --international-orange-400: #ff8d35;
  --international-orange-500: #ff6e0e;
  --international-orange-600: #fb5607;
  --international-orange-700: #c93a05;
  --international-orange-800: #9f2f0d;
  --international-orange-900: #80290e;
  --international-orange-950: #451205;

  /* Cumin Palette */
  --cumin-950: #1a0d06;
  --cumin-900: #231006;
  --cumin-800: #3a1a0b;
  --cumin-700: #53240d;
  --cumin-600: #972d07;
  --cumin-500: #9a400f;
  --cumin-400: #bc5616;
  --cumin-300: #db721c;
  --cumin-200: #f7911f;
  --cumin-100: #ffb347;
  --cumin-50: #ffe3c2;


  /* Broom Palette */
  --broom-50: #fcffe7;
  --broom-100: #f5ffc1;
  --broom-200: #f0ff86;
  --broom-300: #f0ff41;
  --broom-400: #fffd0d;
  --broom-500: #ffef00;
  --broom-550: #ffcc00;
  --broom-600: #d1bb00;
  --broom-700: #a68802;
  --broom-800: #89690a;
  --broom-900: #74560f;
  --broom-950: #442e04;

  /* Fuego Palette */
  --fuego-50:  #fcfde8;
  --fuego-100: #f6facd;
  --fuego-200: #edf6a0;
  --fuego-300: #ddee68;
  --fuego-400: #cae13a;
  --fuego-500: #c1df1f;
  --fuego-600: #869e12;
  --fuego-700: #667912;
  --fuego-800: #516014;
  --fuego-900: #445116;
  --fuego-950: #232d06;

  --accent: #F4A261;
  --accent-dark: #E68A44;
  --accent-light: #F7B384;

  /* Main Colors */
  /* --background: #edf6f9; */
  --background: #e0e0e0;
  --background-high: #edf6f970;
  --background-opacity: #edf6f950;
  --background-low-opacity: #edf6f910;

  --text: #1a1a1a;
  --text-opacity: #1a1a1a90;
  --text-low-opacity: #1a1a1a10;

  --border: #D3D3D3;

  /* Feedback Colors */
  --success: #28A745;
  --error: #DC3545;

  /* Transition Color*/
  --fuego-to-dark: #333333;
  --fuego-to-dark-50: #33333350;

   --background-focus: #2f241950;

  overflow-x: hidden;

}

[data-theme="dark"] {
  /* Shark Palette */
  --shark-50: #212529;
  --shark-100: #373d42;
  --shark-200: #3e454c;
  --shark-300: #465058;
  --shark-400: #515f69;
  --shark-500: #5f717b;
  --shark-600: #7a8c96;
  --shark-700: #a6b4ba;
  --shark-800: #cbd3d6;
  --shark-900: #e3e7ea;
  --shark-950: #f4f6f7;

  /* Mondo Palette */
  --mondo-50: #2f2419;
  --mondo-100: #48392a;
  --mondo-200: #5f4c34;
  --mondo-300: #705a38;
  --mondo-400: #8b7643;
  --mondo-500: #7f5539;
  --mondo-600: #b1a25e;
  --mondo-700: #c3ba81;
  --mondo-800: #d9d5af;
  --mondo-900: #ebead6;
  --mondo-950: #f7f6ef;

  
  /* Science Blue Palette */
  --science-blue-50: #0c355f;
  --science-blue-100: #0b589d;
  --science-blue-200: #0466c8;
  --science-blue-300: #0080fa;
  --science-blue-400: #0299ff;
  --science-blue-500: #19b7ff;
  --science-blue-600: #44d4ff;
  --science-blue-700: #80e6ff;
  --science-blue-800: #b4eeff;
  --science-blue-900: #d5f4ff;
  --science-blue-950: #ecfbff;

  /* International Orange Palette */
  --international-orange-50: #451205;
  --international-orange-100: #80290e;
  --international-orange-200: #9f2f0d;
  --international-orange-300: #c93a05;
  --international-orange-400: #fb5607;
  --international-orange-500: #ff6e0e;
  --international-orange-600: #ff8d35;
  --international-orange-700: #ffb76f;
  --international-orange-800: #ffd5a7;
  --international-orange-900: #ffecd3;
  --international-orange-950: #fff7ec;

  /* Cumin Palette */
  --cumin-50: #1a0d06;
  --cumin-100: #231006;
  --cumin-200: #3a1a0b;
  --cumin-300: #53240d;
  --cumin-400: #972d07;
  --cumin-500: #9a400f;
  --cumin-600: #bc5616;
  --cumin-700: #db721c;
  --cumin-800: #f7911f;
  --cumin-900: #ffb347;
  --cumin-950: #ffe3c2;

   /* Broom Palette */
  --broom-950: #fcffe7;
  --broom-900: #f5ffc1;
  --broom-800: #f0ff86;
  --broom-700: #f0ff41;
  --broom-600: #f7ff0d;
  --broom-500: #f5f000;
  --broom-550: #ffcc00;
  --broom-400: #d1bb00;
  --broom-300: #a68802;
  --broom-200: #89690a;
  --broom-100: #74560f;
  --broom-50: #442e04;

  /* Fuego Palette */
  --fuego-50:  #232d06;
  --fuego-100: #445116;
  --fuego-200: #516014;
  --fuego-300: #667912;
  --fuego-400: #869e12;
  --fuego-500: #c1df1f;
  --fuego-600: #cae13a;
  --fuego-700: #ddee68;
  --fuego-800: #edf6a0;
  --fuego-900: #f6facd;
  --fuego-950: #fcfde8;

  --accent: var(--science-blue-500); /* #19b7ff */
  --accent-dark: var(--science-blue-300); /* #0080fa */
  --accent-light: var(--science-blue-700); /* #80e6ff */


  /* Main Colors*/
  --background: #1a1a1a;
  --background-high: #1A1A1A70;
  --background-opacity: #1A1A1A50;
  --background-low-opacity: #1A1A1A10;

  --text: #e0e0e0;
  --text-opacity: #f4f4f950;
  --text-low-opacity: #f4f4f910;
  
  --border: #4B4B4B;
  --success: #34C759;
  --error: #FF4C4C;
  --white: #1A1A1A;
  --black: #E5E5E5;

   /* Transition Color*/
  --fuego-to-dark: #c1df1f;
  --fuego-to-dark-50: #c1df1f;

     --background-focus: #2f241950;
}

:root {
  --background-gradient: linear-gradient(90deg, #f9572a, #ffc905);
}


/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


html {
  font-family: 'Quicksand', sans-serif;
  background: var(--background);
}

body {
  margin: 0;
  /* background: radial-gradient(circle at center , var(--shark-500), var(--shark-950)); */
  background: var(--background);
  overflow-x: hidden;
}

.not-found,
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.not-found h1,
.error h1 {
  font-size: 5rem;
  margin: 0px;
  font-weight: 900;
  text-transform: uppercase;
  background: linear-gradient(90deg, #f9572a, #ffc905);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
}

.not-found p,
.error p {
  font-size: 1.5rem;
  font-weight: 500;
  color:var(--text);
}


.footerWrapper {
  display: flex;
  width: 100%;
  min-height: 100vh; 
  overflow: hidden;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.footer {
  color: var(--text);
  border-radius: 0;
  width: 100%;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.animatedSections {
  position: relative;
  width: 100%;
  padding-top: 3rem;
}

[data-theme="light"] .footer {
 background-image: 
  linear-gradient(46deg, 
    rgba(18, 18, 18, 0.01) 0%, 
    rgba(18, 18, 18, 0.01) 50%,
    rgba(10, 10, 10, 0.01) 50%, 
    rgba(10, 10, 10, 0.01) 100%),
  linear-gradient(338deg, 
    rgba(232, 232, 232, 0.03) 0%, 
    rgba(232, 232, 232, 0.03) 50%,
    rgba(174, 174, 174, 0.03) 50%, 
    rgba(174, 174, 174, 0.03) 100%),
  linear-gradient(26deg, 
    rgba(180, 180, 180, 0.02) 0%, 
    rgba(180, 180, 180, 0.02) 50%,
    rgba(191, 191, 191, 0.02) 50%, 
    rgba(191, 191, 191, 0.02) 100%),
  linear-gradient(129deg, 
    rgba(52, 52, 52, 0.03) 0%, 
    rgba(52, 52, 52, 0.03) 50%,
    rgba(188, 188, 188, 0.03) 50%, 
    rgba(188, 188, 188, 0.03) 100%),
  linear-gradient(86deg, 
    rgba(234, 234, 234, 0.03) 0%, 
    rgba(234, 234, 234, 0.03) 50%,
    rgba(100, 100, 100, 0.03) 50%, 
    rgba(100, 100, 100, 0.03) 100%),
  linear-gradient(73deg, 
    rgba(203, 203, 203, 0.02) 0%, 
    rgba(203, 203, 203, 0.02) 50%,
    rgba(24, 24, 24, 0.02) 50%, 
    rgba(24, 24, 24, 0.02) 100%),
  linear-gradient(90deg, rgb(237, 46, 8),rgb(2255, 239, 0));
}

[data-theme="dark"] .footer,
[data-theme="dark"] .mainBackground {
 background-image: 
  linear-gradient(46deg, 
    rgba(18, 18, 18, 0.01) 0%, 
    rgba(18, 18, 18, 0.01) 50%,
    rgba(10, 10, 10, 0.01) 50%, 
    rgba(10, 10, 10, 0.01) 100%),
  linear-gradient(338deg, 
    rgba(232, 232, 232, 0.03) 0%, 
    rgba(232, 232, 232, 0.03) 50%,
    rgba(174, 174, 174, 0.03) 50%, 
    rgba(174, 174, 174, 0.03) 100%),
  linear-gradient(26deg, 
    rgba(180, 180, 180, 0.02) 0%, 
    rgba(180, 180, 180, 0.02) 50%,
    rgba(191, 191, 191, 0.02) 50%, 
    rgba(191, 191, 191, 0.02) 100%),
  linear-gradient(129deg, 
    rgba(52, 52, 52, 0.03) 0%, 
    rgba(52, 52, 52, 0.03) 50%,
    rgba(188, 188, 188, 0.03) 50%, 
    rgba(188, 188, 188, 0.03) 100%),
  linear-gradient(86deg, 
    rgba(234, 234, 234, 0.03) 0%, 
    rgba(234, 234, 234, 0.03) 50%,
    rgba(100, 100, 100, 0.03) 50%, 
    rgba(100, 100, 100, 0.03) 100%),
  linear-gradient(73deg, 
    rgba(203, 203, 203, 0.02) 0%, 
    rgba(203, 203, 203, 0.02) 50%,
    rgba(24, 24, 24, 0.02) 50%, 
    rgba(24, 24, 24, 0.02) 100%),
  linear-gradient(90deg, rgb(26, 26, 26),rgb(0, 0, 0));
}

[data-theme="light"] .mainBackground {
  background: #e0e0e0;
 /* background-image: 
  linear-gradient(46deg, 
    rgba(18, 18, 18, 0.01) 0%, 
    rgba(18, 18, 18, 0.01) 50%,
    rgba(10, 10, 10, 0.01) 50%, 
    rgba(10, 10, 10, 0.01) 100%),
  linear-gradient(338deg, 
    rgba(232, 232, 232, 0.03) 0%, 
    rgba(232, 232, 232, 0.03) 50%,
    rgba(174, 174, 174, 0.03) 50%, 
    rgba(174, 174, 174, 0.03) 100%),
  linear-gradient(26deg, 
    rgba(180, 180, 180, 0.02) 0%, 
    rgba(180, 180, 180, 0.02) 50%,
    rgba(191, 191, 191, 0.02) 50%, 
    rgba(191, 191, 191, 0.02) 100%),
  linear-gradient(129deg, 
    rgba(52, 52, 52, 0.03) 0%, 
    rgba(52, 52, 52, 0.03) 50%,
    rgba(188, 188, 188, 0.03) 50%, 
    rgba(188, 188, 188, 0.03) 100%),
  linear-gradient(86deg, 
    rgba(234, 234, 234, 0.03) 0%, 
    rgba(234, 234, 234, 0.03) 50%,
    rgba(100, 100, 100, 0.03) 50%, 
    rgba(100, 100, 100, 0.03) 100%),
  linear-gradient(73deg, 
    rgba(203, 203, 203, 0.02) 0%, 
    rgba(203, 203, 203, 0.02) 50%,
    rgba(24, 24, 24, 0.02) 50%, 
    rgba(24, 24, 24, 0.02) 100%),
  linear-gradient(90deg, rgb(244, 244, 244),rgb(155, 155, 155)); */
}