.container {
  display: flex;
  flex-direction: column;
  background: var(--background);
  min-height: 100vh;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  z-index: 100;
  background: var(--background);
  padding-bottom: 5rem;
}

.mainContent { 
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh 0;
}

.footerWrapper {
  display: flex;
  width: 100%;
  min-height: 100vh; 
  overflow: hidden;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.footer {
  color: var(--text);
  border-radius: 0;
  width: 100%;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

[data-theme="light"] .footer {
  background-image: 
    linear-gradient(84deg, rgba(110, 147, 161, 0.04) 0%, 
      rgba(110, 147, 161, 0.04) 50%,
      rgba(31, 225, 91, 0.04) 50%, 
      rgba(31, 225, 91, 0.04) 100%),
    linear-gradient(338deg, rgba(201, 121, 180, 0.04) 0%, 
      rgba(201, 121, 180, 0.04) 50%,
      rgba(1, 113, 56, 0.04) 50%, 
      rgba(1, 113, 56, 0.04) 100%),
    linear-gradient(223deg, rgba(211, 211, 180, 0.04) 0%, 
      rgba(211, 211, 180, 0.04) 50%,
      rgba(13, 109, 126, 0.04) 50%, 
      rgba(13, 109, 126, 0.04) 100%),
    linear-gradient(327deg, rgba(52, 121, 135, 0.04) 0%, 
      rgba(52, 121, 135, 0.04) 50%,
      rgba(18, 246, 96, 0.04) 50%, 
      rgba(18, 246, 96, 0.04) 100%),
    linear-gradient(289deg, rgba(127, 18, 115, 0.04) 0%, 
      rgba(127, 18, 115, 0.04) 50%,
      rgba(70, 203, 229, 0.04) 50%, 
      rgba(70, 203, 229, 0.04) 100%),
    linear-gradient(203deg, rgba(131, 205, 141, 0.04) 0%, 
      rgba(131, 205, 141, 0.04) 50%,
      rgba(37, 31, 18, 0.04) 50%, 
      rgba(37, 31, 18, 0.04) 100%),
    linear-gradient(221deg, rgba(13, 183, 43, 0.04) 0%, 
      rgba(13, 183, 43, 0.04) 50%,
      rgba(103, 42, 135, 0.04) 50%, 
      rgba(103, 42, 135, 0.04) 100%),
    linear-gradient(232deg, rgba(85, 200, 233, 0.04) 0%, 
      rgba(85, 200, 233, 0.04) 50%,
      rgba(215, 24, 12, 0.04) 50%, 
      rgba(215, 24, 12, 0.04) 100%),
    linear-gradient(226deg, rgba(95, 197, 25, 0.04) 0%, 
      rgba(95, 197, 25, 0.04) 50%,
      rgba(30, 61, 7, 0.04) 50%, 
      rgba(30, 61, 7, 0.04) 100%),
    linear-gradient(178deg, rgba(132, 241, 60, 0.04) 0%, 
      rgba(132, 241, 60, 0.04) 50%,
      rgba(52, 203, 19, 0.04) 50%, 
      rgba(52, 203, 19, 0.04) 100%),
    linear-gradient(138deg, rgba(67, 161, 9, 0.04) 0%, 
      rgba(67, 161, 9, 0.04) 50%,
      rgba(27, 242, 201, 0.04) 50%, 
      rgba(27, 242, 201, 0.04) 100%),
    linear-gradient(342deg, rgba(33, 36, 218, 0.04) 0%, 
      rgba(33, 36, 218, 0.04) 50%,
      rgba(248, 232, 35, 0.04) 50%, 
      rgba(248, 232, 35, 0.04) 100%),linear-gradient(70deg, 
      rgba(236, 115, 112, 0.04) 0%, 
      rgba(236, 115, 112, 0.04) 50%,
      rgba(33, 180, 6, 0.04) 50%, 
      rgba(33, 180, 6, 0.04) 100%),
    linear-gradient(106deg, rgba(11, 133, 241, 0.04) 0%, 
      rgba(11, 133, 241, 0.04) 50%,
      rgba(197, 131, 207, 0.04) 50%, 
      rgba(197, 131, 207, 0.04) 100%),
    linear-gradient(127deg, rgb(50, 233, 241),rgb(7, 146, 201));
}

[data-theme="dark"] .footer {
   background-image: 
    linear-gradient(90deg, rgb(52, 52, 52),rgb(168, 168, 168)),
    linear-gradient(45deg, 
      var(--shark-500) 0%, 
      var(--shark-500) 45%,
      var(--shark-400) 45%, 
      var(--shark-400) 62%,
      var(--shark-300) 62%, 
      var(--shark-300) 68%,
      var(--shark-200) 68%, 
      var(--shark-200) 77%,
      var(--shark-100) 77%, 
      var(--shark-100) 92%,
      var(--shark-50) 92%, 
      var(--shark-50) 100%),
    linear-gradient(135deg, 
      var(--mondo-50) 0%, 
      var(--mondo-50) 45%,
      var(--mondo-100) 45%, 
      var(--mondo-100) 62%,
      var(--mondo-200) 62%, 
      var(--mondo-200) 68%,
      var(--mondo-300) 68%, 
      var(--mondo-300) 77%, 
      var(--mondo-400) 77%,  
      var(--mondo-400) 92%,
      var(--mondo-500) 92%, 
      var(--mondo-500) 100%); 
    background-blend-mode:overlay,overlay,normal;
}




