.container {
  display: flex;
  flex-direction: column;
  background: var(--background);
  min-height: 100vh;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  z-index: 100;
  background: var(--background);
}

.mainContent { 
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh 0;
}

.footerWrapper {
  display: flex;
  width: 100%;
  min-height: 100vh; 
  overflow: hidden;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.footer {
  color: var(--text);
  border-radius: 0;
  width: 100%;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

[data-theme="light"] .footer {
 background-image: 
  linear-gradient(46deg, 
    rgba(18, 18, 18, 0.01) 0%, 
    rgba(18, 18, 18, 0.01) 50%,
    rgba(10, 10, 10, 0.01) 50%, 
    rgba(10, 10, 10, 0.01) 100%),
  linear-gradient(338deg, 
    rgba(232, 232, 232, 0.03) 0%, 
    rgba(232, 232, 232, 0.03) 50%,
    rgba(174, 174, 174, 0.03) 50%, 
    rgba(174, 174, 174, 0.03) 100%),
  linear-gradient(26deg, 
    rgba(180, 180, 180, 0.02) 0%, 
    rgba(180, 180, 180, 0.02) 50%,
    rgba(191, 191, 191, 0.02) 50%, 
    rgba(191, 191, 191, 0.02) 100%),
  linear-gradient(129deg, 
    rgba(52, 52, 52, 0.03) 0%, 
    rgba(52, 52, 52, 0.03) 50%,
    rgba(188, 188, 188, 0.03) 50%, 
    rgba(188, 188, 188, 0.03) 100%),
  linear-gradient(86deg, 
    rgba(234, 234, 234, 0.03) 0%, 
    rgba(234, 234, 234, 0.03) 50%,
    rgba(100, 100, 100, 0.03) 50%, 
    rgba(100, 100, 100, 0.03) 100%),
  linear-gradient(73deg, 
    rgba(203, 203, 203, 0.02) 0%, 
    rgba(203, 203, 203, 0.02) 50%,
    rgba(24, 24, 24, 0.02) 50%, 
    rgba(24, 24, 24, 0.02) 100%),
  linear-gradient(90deg, rgb(237, 46, 8),rgb(2255, 239, 0));
}

[data-theme="dark"] .footer {
 background-image: 
  linear-gradient(46deg, 
    rgba(18, 18, 18, 0.01) 0%, 
    rgba(18, 18, 18, 0.01) 50%,
    rgba(10, 10, 10, 0.01) 50%, 
    rgba(10, 10, 10, 0.01) 100%),
  linear-gradient(338deg, 
    rgba(232, 232, 232, 0.03) 0%, 
    rgba(232, 232, 232, 0.03) 50%,
    rgba(174, 174, 174, 0.03) 50%, 
    rgba(174, 174, 174, 0.03) 100%),
  linear-gradient(26deg, 
    rgba(180, 180, 180, 0.02) 0%, 
    rgba(180, 180, 180, 0.02) 50%,
    rgba(191, 191, 191, 0.02) 50%, 
    rgba(191, 191, 191, 0.02) 100%),
  linear-gradient(129deg, 
    rgba(52, 52, 52, 0.03) 0%, 
    rgba(52, 52, 52, 0.03) 50%,
    rgba(188, 188, 188, 0.03) 50%, 
    rgba(188, 188, 188, 0.03) 100%),
  linear-gradient(86deg, 
    rgba(234, 234, 234, 0.03) 0%, 
    rgba(234, 234, 234, 0.03) 50%,
    rgba(100, 100, 100, 0.03) 50%, 
    rgba(100, 100, 100, 0.03) 100%),
  linear-gradient(73deg, 
    rgba(203, 203, 203, 0.02) 0%, 
    rgba(203, 203, 203, 0.02) 50%,
    rgba(24, 24, 24, 0.02) 50%, 
    rgba(24, 24, 24, 0.02) 100%),
  linear-gradient(90deg, rgb(0, 0, 0), rgb(33, 37, 41));
}




