.animateInRight {
  animation: animateInRight 1s ease-out forwards;
}

@keyframes animateInRight {
  from {
    opacity: 0;
    transform: translateX(20%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.animateContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 60vh;
  max-width: 1200px;
  margin: 0 auto 1rem;
}

@media screen and (min-width: 1024px) {
  .animateContent {
    flex-direction: row;
  }
}

.slideShowWrapper {
  width: 12rem;
  height: 12rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .slideShowWrapper {
    width: 18rem;
    height: 18rem;
    margin-bottom: 0;
  }
}

.containerWrapper {
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  will-change: transform, opacity;
  transition: all 0.5s ease-out;
  width: 70%;
}

@media screen and (min-width: 1024px) {
  .containerWrapper {
    padding-left: 2rem;
    align-items: center;
  }
}

.infiniteSlideLoopWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15vh;
}

.itemWrapper {
  padding: 2rem;
}