.controls {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  margin-bottom: 0.5rem;
}

.picker .input {
  display: none;
}

.picker label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: var(--text-opacity);
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .picker label {
    text-align: center;
  }
}

.preview {
  width: 10rem;
  height: 10rem;
  border: 2px solid #a4abb9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #a4abb9;
  position: relative;
  flex-shrink: 0;
}

.preview p {
  margin: 0;
  padding: 1rem;
}

.image {
  object-fit: cover;
}

.uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uploadContainer a,
.uploadContainer button {
  width: 100%;
  height: 2.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backButton {
  margin-top: 0.5rem;
}

.errorText {
  font-size: 0.8em;
  color: var(--error);
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .controls {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .uploadContainer {
    width: 100%;
  }

  .preview {
    margin-bottom: 0.5rem;
  }
}