.form {
  width: 100%;
}

.form label {
  display: block;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: var(--text-opacity);
  font-weight: bold;
}

.form textarea {
  resize: none;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid var(--shark-200);
  background: var(--shark-50);
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  color: var(--shark-800);
}

.form input:focus,
.form textarea:focus {
  background: var(--background-opacity);
  outline: none;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row p {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .row {
    flex-direction: row;
  }
}