.form {
  width: 100%;
}

.form label {
  display: block;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: var(--text-opacity);
  font-weight: bold;
}

.form textarea {
  resize: none;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid var(--shark-200);
  background: var(--shark-50);
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  color: var(--shark-800);
}

.form input:focus,
.form textarea:focus {
  outline-color: #f99f2a;
  background: var(--background-opacity);
}

.row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row p {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .row {
    flex-direction: row;
  }
}

/* .actions {
  text-align: right;
} */

.actions button {
  border: 0;
  padding: 0.75rem 2rem;
  /* background: linear-gradient(90deg, #f9572a, #ff9b05); */
  border: none;
  color: #ffffff;
  border-radius: 2px;
  cursor: pointer;
  font: inherit;
  font-weight: 900;
  font-size: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 10rem;
  filter: brightness(0.9);
  transition: all 0.3s ease-in-out;
}

.actions button:hover,
.actions button:focus {
  filter: brightness(1.1);
}

.actions button:disabled,
.actions button:hover:disabled,
.actions button:focus:disabled {
  background: #ccc;
  color: #979797;
  cursor: not-allowed;
}