.animateInRight {
  animation: animateInRight 1s ease-out forwards;
}

@keyframes animateInRight {
  from {
    opacity: 0;
    transform: translateX(20%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.imgWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: max-content;
  overflow: hidden;
  margin-top: -10vh;
}

@media screen and (min-width: 1024px) {
  .imgWrapper {
    flex-direction: row;
  }
}

.defaultImage {
  will-change: position;
  backface-visibility: hidden;
  background-color: #1A1A1A;
}

.defaultImage img {
  object-fit: cover;
}

.fixedImage,
.relativeImage {
  z-index: 1;
  transition: all 0.5s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.fixedImage {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: position;
  backface-visibility: hidden;
}

.darkPlaceholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  z-index: -1;
  border-radius: inherit;
}

.relativeImage {
  position: relative;
  width: 100%;
  height: 60vh;
  animation: animateInLeft 1s ease-out forwards;
}

@keyframes animateInLeft {
  from {
    opacity: 0;
    transform: translateX(-20%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fixedImage img {
  filter: brightness(0.5);
}

@media screen and (min-width: 1024px) {
  .relativeImage {
    width: 40%;
    height: 40vh;
    border-radius: 0 2rem 2rem 0;
    overflow: hidden;
  }
}

@media screen and (max-width: 1024px) {
  .imageShadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 100px 100vh var(--background-low-opacity);
    backdrop-filter: brightness(0.5);
    pointer-events: none;
    z-index: 1;
  }
}

@media screen and (min-width: 1024px) {
  .relativeImage .imageShadow {
    display: none;
    transition: all 0.5s ease-out;
  }
}

.imageContent {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
  z-index: 1;
  text-align: center;
  color: #f4f6f7;
  transition: all 0.5s ease-out;
}

@media screen and (min-width: 1024px) {
  .imageContent {
    position: relative;
    right: 0;
    width: 60%;
    height: 40vh;
  }
}

.imageContent h1,
.imageContent h2 {
  font-weight: 500;
}

.imageContent h2 {
  color: var(--shark-900);
  opacity: .8;
}

.imageContent h1,
.imageContent h2 {
  padding: 0.5rem 2rem;
}

@media screen and (max-width: 1024px) {
  .imageContent h2 {
    color: #e3e7ea !important;
  }

  .imageContent h1 {
    color: #ffffc2 !important;
  }
}