@keyframes fade-slide-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-slide-in-from-right {
  0% {
    opacity: 0;
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-slide-in-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.loading {
  font-size: 3rem;
  text-align: center;
  color: #ddd6cb;
  font-weight: bold;
  animation: flash 1s ease-in-out infinite alternate;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  min-height: 100vh;
  height: auto;
  z-index: 100;
  padding: 4rem 1rem;
}

@media screen and (min-width: 640px) {
  .container {
    width: 70%;
  }

}

@media screen and (min-width: 1024px) {
  .container {
    width: 60%;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: auto;
  padding: 2rem 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
  }
}

.image {
  position: relative;
  width: 100%;
  height: 30vh;
  margin-bottom: 1rem;
}

.header .image img {
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  animation: fade-slide-in-from-left 1s ease-out forwards;
}

.headerText {
  width: 100%;
  height: 15vh;
  animation: fade-slide-in-from-right 1s ease-out forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.headerText .headerText-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: .5rem;
}

.headerText h1 {
  margin: 0;
  text-transform: uppercase;
}

.headerText .back {
  text-decoration: none;
  padding: .3rem 1rem;
  margin: .5rem 0;
  border: 1px solid var(--pale-prim-900);
  opacity: .8;
  border-radius: 4px;
  font-weight: 600;
  transition: all .3s ease-in-out;
}

[data-theme="light"] .headerText .back {
  color: var(--shark-100);
  background: var(--shark-900);
}

.headerText .back:hover {
  opacity: 1;
}

@media screen and (min-width: 768px) {

  .image,
  .headerText {
    width: 40vw;
    height: 40vh;
  }

  .headerText {
    display: flex;
    align-items: center;
  }
}

/* .creator {
  
} */

[data-theme="dark"] .creator {
  color: #ffffc2;
}

.creator a {
  background: var(--text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-size: 1.3rem;
}

.summary {
  font-size: 1.5rem;
  color: var(--text);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  background: var(--text-low-opacity);
  border-radius: 8px;
  padding: 2rem 1rem;
}

.main h2 span,
.main h2 {
  color: var(--shark-900);
  text-transform: capitalize;
}

.main .instructions {
  color: var(--text);
  display: block;
  width: 100%;
  animation: fade-slide-in-from-bottom 1s ease-out forwards;
  padding: 0 2rem;
}

.main .instructions::before {
  content: " ▸ ";
  display: inline-block;
  color: #0b589d;
  font-size: 1.2rem;
  width: 1.5em;
  margin-left: -1.5em;
  line-height: 1;
}

[data-theme="dark"] .main .instructions::before {
  color: #fffb88;
}