.animateInRight {
  animation: animateInRight 1s ease-out forwards;
}

@keyframes animateInRight {
  from {
    opacity: 0;
    transform: translateX(20%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.section {
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateX(20%);
  will-change: transform, opacity;
  margin-top: 3rem;
}

.introBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 1.5rem 0.5rem;
}

.introTitle {
  color: var(--apple-500);
  margin-bottom: 1.2rem;
}

.introText {
  color: #f4f6f7;
  font-size: 1rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .introText {
    text-align: justify;
  }
}

@media screen and (min-width: 768px) {
  .introText {
    padding: 0 3rem;
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .introText {
    padding: 0 5rem;
    width: 50%;
    font-size: medium;
  }
}
