.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  min-height: 100vh;
  height: auto;
  z-index: 100;
  padding: 4rem 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  width: 100%;
  max-width: 75rem;
  font-size: 1rem;
  color: var(--text);
}

.header h1,
.header p {
  text-align: center;
}

.header p {
  margin: 0;
  padding: .75rem 0;
}

@media screen and (min-width: 640px) {
  .header {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    font-size: 1.4rem;
    margin: 2rem auto;
  }
}

.cta a {
  display: inline-block;
  margin-top: .5rem;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  background: var(--monza-700);
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  filter: brightness(0.9);
  border: 1px solid #ffffc270;
}

.cta a:hover {
  filter: brightness(1);
  transition: all 0.3s ease-in-out;
}

.main {
  width: 100%;
  padding: 1rem;
}

.loading {
  text-align: center;
  animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
  0% {
    color: var(--text);
  }

  50% {
    color: var(--background-opacity);
  }

  100% {
    color: var(--text);
  }
}