.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  min-height: 100vh;
  height: auto;
  z-index: 100;
  padding: 4rem 1rem;
}

/* @media screen and (min-width: 1024px) {
  .container {
    padding: 0;
  }
  
} */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  width: 100%;
  max-width: 75rem;
  font-size: 1rem;
  color: var(--shark-800);
}

.header h1,
.header p {
  text-align: center;
}

.header p {
  margin: 0;
  padding: .75rem 0;
}

@media screen and (min-width: 640px) {
  .header {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    font-size: 1.5rem;
    margin: 2rem auto;
  }

}

.main {
  width: 100%;
  padding: 1rem;
}

.cta a {
  display: inline-block;
  margin-top: .5rem;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #f9572a, #ff9b05);
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  filter: brightness(0.9);
  border: 1px solid #ffffc2;
}

.cta a:hover {
  filter: brightness(1);
  transition: all 0.3s ease-in-out;
}

.loading {
  text-align: center;
  animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
  0% {
    color: #e9e9e9;
  }

  50% {
    color: #ffffc2;
  }

  100% {
    color: #e9e9e9;
  }
}

/* grid screen */
.meals-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem
}

@media screen and (min-width: 640px) {
  .meals-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .meals-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .meals-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .meals-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}