.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  padding: 1rem;
}

@media screen and (min-width: 640px) {
  .container {
    margin: 1rem;
  }
  
}

.card {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1.3;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
}

.recipe-card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
}

.recipe-image {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  transform-origin: top;
  overflow: hidden;
}

.recipe-image .recipe-link {
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  text-decoration: none;
  color: #f4f4f4;
  font-size: 1.2rem;
  font-weight: 700;
  z-index: 2;
  position: absolute;
  inset: 0;
  backdrop-filter: brightness(0.6);
  display: flex;  
  align-items: center;  
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .recipe-image .recipe-link {
    opacity: 0;
    visibility: hidden;
  }

  .recipe-image:hover .recipe-link {
    opacity: 1;
    visibility: visible;
  }
}

.recipe-image .image-inner,
.spotlight-image .image-inner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: top;
  object-position: top;
}

.spotlight-image {
  position: relative;
  width: 100%;
  height: 50%;
  transition: transform 0.5s ease;
  transform-origin: top;
  overflow: hidden;
  z-index: 1;
}

.spotlight-image .image-inner:hover {
  transition: transform 0.5s ease;
  transform: scale(1.2);
}

.recipe-overlay {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
  padding: .5rem;
  gap: .5rem;
 background: #CACACA;
 color: #222529;
}

[data-theme="light"] .recipe-overlay {
  background: var(--shark-50);
}

.spotlight-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  width: 100%;
  gap: .2rem;
  padding: .5rem;
}

.spotlight-info .spotlight-button {
  text-decoration: none;
  padding: .5em 1em;
  margin: 1.5rem 0;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

[data-theme="light"] .spotlight-info .spotlight-button {
  color: var(--shark-50);
  background: var(--shark-950);
}

.spotlight-info .spotlight-button:hover { filter: brightness(1.1);}

.spotlight-info p {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  font-style: italic;
  font-weight: thin;
}

.spotlight-info p span {
  font-weight: bold;
}

.spotlight-info .stars {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 0.5rem;
}

.ratingCountWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.ratingCount {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 0.8rem;
  color: #212529;
  margin-left: .5rem;
}