.containerTopNavbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%;
}

[data-theme="light"] .containerTopNavbar {
  background: var(--science-blue-800);
}

.containerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  opacity: 1;
  z-index: 100;
  position: relative;
  padding: 5rem 0;
}

.containerWrapper .loading {
  color: #ffffc2;
}

@media screen and (min-width: 1024px) {
  .containerWrapper {
    flex-direction: row;
    gap: 2rem;
    min-height: 100vh;
    padding: 5rem;
  }
}

.card {
  width: 90%;
  height: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.card:nth-child(3) {
  height: 36rem;
}

@media screen and (min-width: 1024px) {
  .card {
    width: 40%;
    height: 36rem;
  }
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  color: var(--shark-50);
  text-transform: uppercase;
  font-size: 2em;
  overflow: hidden;
}

[data-theme="dark"] .avatar {
  background: #faf0a0;
}

@media screen and (min-width: 1024px) {
  .avatar {
    width: 10rem;
    height: 10rem;
    left: auto;
  }
}

.userCard {
  background: rgba(255, 255, 255, 0.3);
  color: var(--shark-800);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(9.3px);
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  border-radius: 8px;
}

[data-theme="dark"] .userCard {
  background: var(--shark-50);
}

.userCard .top,
.userCard .bottom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.userCard .top .name {
  text-transform: capitalize;
}

.userCard .bottom .button {
  border: none;
  border-radius: 4px;
  text-transform: lowercase;
  padding: 0.5rem 3.5em;
  font-size: medium;
  cursor: pointer;
  transition: all 0.3s ease;
}

.userCard .bottom a.button {
  text-decoration: none;
}

.userCard .bottom .nonauth {
  font-style: oblique;
}

@media screen and (min-width: 1024px) {
  .userCard .top .name {
    font-size: 1.5rem;
    font-weight: bold;
  }
}