.containerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  opacity: 1;
  z-index: 100;
  position: relative;
  gap: 2rem;
  padding: 5rem 0;
}

[data-theme="dark"] .darkGradient {
  background: linear-gradient(90deg,  var( --shark-50), var(--science-blue-500), var( --shark-50));
}

[data-theme="light"] .lightGradient {
 background: 
  linear-gradient(46deg, 
    rgba(18, 18, 18, 0.01) 0%, 
    rgba(18, 18, 18, 0.01) 50%,
    rgba(10, 10, 10, 0.01) 50%, 
    rgba(10, 10, 10, 0.01) 100%),
  linear-gradient(338deg, 
    rgba(232, 232, 232, 0.03) 0%, 
    rgba(232, 232, 232, 0.03) 50%,
    rgba(174, 174, 174, 0.03) 50%, 
    rgba(174, 174, 174, 0.03) 100%),
  linear-gradient(26deg, 
    rgba(180, 180, 180, 0.02) 0%, 
    rgba(180, 180, 180, 0.02) 50%,
    rgba(191, 191, 191, 0.02) 50%, 
    rgba(191, 191, 191, 0.02) 100%),
  linear-gradient(129deg, 
    rgba(52, 52, 52, 0.03) 0%, 
    rgba(52, 52, 52, 0.03) 50%,
    rgba(188, 188, 188, 0.03) 50%, 
    rgba(188, 188, 188, 0.03) 100%),
  linear-gradient(86deg, 
    rgba(234, 234, 234, 0.03) 0%, 
    rgba(234, 234, 234, 0.03) 50%,
    rgba(100, 100, 100, 0.03) 50%, 
    rgba(100, 100, 100, 0.03) 100%),
  linear-gradient(73deg, 
    rgba(203, 203, 203, 0.02) 0%, 
    rgba(203, 203, 203, 0.02) 50%,
    rgba(24, 24, 24, 0.02) 50%, 
    rgba(24, 24, 24, 0.02) 100%),
  linear-gradient(90deg, rgb(237, 46, 8),rgb(2255, 239, 0));
}

[data-theme="light"] .containerWrapper.gradientBackground {
  background:  linear-gradient(90deg, rgb(237, 46, 8),rgb(2255, 239, 0));
}

[data-theme="dark"] .containerWrapper.gradientBackground {
  background:  linear-gradient(90deg, var(--science-blue-500),var( --shark-50));
}

.containerWrapper .loading {
  color: #ffffc2;
}

@media screen and (min-width: 1024px) {
  .containerWrapper {
    flex-direction: row;
    min-height: 100vh;
    padding: 5rem;
  }
  
}

.card {
  width: 90%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   position: relative;
}

@media screen and (min-width: 1024px) {
  .card {
    width: 40%;
    height: 70vh;
  }
  
}

.userCard {
  background: rgba(255, 255, 255, 0.1);
  color: #f4f4f4;
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(9.3px);
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 1rem;
}

@media screen and (max-width: 1024px) {
  .userCard {
    height: 60vh;
  }
  
}

.userCard .top,
.userCard .bottom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.userCard .top .name {
  text-transform: capitalize;
  top: 25%;
  position: absolute;
}

.userCard .bottom .button {
  border: none;
  border-radius: .5rem;
  text-transform: lowercase;
  padding: 0.7rem 4em;
  font-size: medium;
  cursor: pointer;
  transition: all 0.1s ease;
  color: #f4f4f4;
}

.userCard .bottom a.button {
  text-decoration: none;
}

.userCard .bottom .forReservation {
  font-style: oblique;
}

[data-theme="dark"] .userCard .bottom .button:hover {
  filter: hue-rotate(90deg)  saturate(2);
}
[data-theme="light"] .userCard .bottom .button:hover {
  filter: brightness(1.2);
}

@media screen and (min-width: 1024px) {
  .userCard .top .name {
    font-size: 1.5rem;
    font-weight: bold;
  } 
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  color: #f4f4f4;
  text-transform: uppercase;
  font-size: 2em;
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .avatar {
    width: 10rem;
    height: 10rem;
    left: auto;
  }
}