.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  min-height: 100vh;
  height: auto;
  z-index: 100;
}

.containerTopNavbar {
  height: 4rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

[data-theme="light"] .containerTopNavbar {
  background: var(--science-blue-800);
}

.header {
  gap: 3rem;
  margin: 1rem auto;
  width: 90%;
  max-width: 75rem;
  color: var(--shark-800);
  text-align: center;
  padding-top: 5rem;
}

.header h1 {
  font-family: 'Montserrat', sans-serif; 
}

.header p {
  font-size: 1.2rem;
}

@media screen and (min-width: 1024px) {
  .header h1 { font-size: 3rem;}
}

.highlight {
  background: linear-gradient(90deg, #f9572a, #ff8a05);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main {
  display: flex;
  flex-direction: column;
  width: 90%;
  min-height: 100vh;
  column-gap: 2rem;
  text-align: center;
}

.trendingRecipes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main .meals h2,
.main .perks h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: var(--shark-800);
}

@media screen and (min-width: 1024px) {
  .main .meals h2,
  .main .perks h2 {
    font-size: 2rem;
  }
  
}

.meals,
.perks {
  margin-bottom: 2rem;
}

.meals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meals a {
  text-decoration: none;
  background: linear-gradient(90deg, #f9572a, #ff8a05);
  padding: .5em;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  width: fit-content;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #f4f4f4;
}

.meals a:hover {
  filter: brightness(1.2);
}

.main h2 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.perks {
  list-style: none;
  padding: 0;
}

.perks li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.perks li p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin: 0;
  color: var(--shark-800);
}

@media screen and (min-width: 1024px) {
  .perks li p {
    font-size: 1.2rem;
  }
  
}

.section {
  padding: 1rem;
}

.section-title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: var(--shark-800);
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  box-sizing: border-box;
}

.spotlight-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  box-sizing: border-box;
}