.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  min-height: 100vh;
  height: auto;
  z-index: 100;
}

.header {
  gap: 3rem;
  margin: 1rem auto;
  width: 90%;
  max-width: 75rem;
  color: var(--shark-800);
  text-align: center;
  padding-top: 5rem;
}

.header h1 {
  font-family: 'Montserrat', sans-serif; 
  font-size: 1.5rem;
}

.header p {
  font-size: .8rem;
}

@media screen and (min-width: 1024px) {
  .header h1 { font-size: 3rem;}
  .header p { font-size: 1.2rem;}
}

.main {
  display: flex;
  flex-direction: column;
  width: 90%;
  min-height: 100vh;
  column-gap: 2rem;
  text-align: center;
}

.trendingRecipes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main .meals h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: var(--shark-800);
}

@media screen and (min-width: 1024px) {
  .main .meals h2 {
    font-size: 2rem;
  }
  
}

.meals{
  margin-bottom: 3rem;
}

.meals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meals a {
  text-decoration: none;
  background: linear-gradient(90deg, #f9572a, #ff8a05);
  padding: .5em;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  width: fit-content;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #f4f4f4;
}

.meals a:hover {
  filter: brightness(1.2);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 4rem;
}

.section-title {
  font-size: x-large;
  color: var(--shark-800);
  font-weight: 900;
  padding-bottom: 1rem;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem
}

@media screen and (min-width: 640px) {
  .recipe-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .recipe-grid {
    grid-template-columns: repeat(4, 1fr);
  } 
}
@media screen and (min-width: 1024px) {
  .recipe-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.spotlight-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem
}

@media screen and (min-width: 512px) {
  .spotlight-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .spotlight-grid {
    grid-template-columns: repeat(3, 1fr);
  } 
}
@media screen and (min-width: 1024px) {
  .spotlight-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}