.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(9.3px);
  padding: 1rem;
}

@media screen and (min-width: 1024px) {
  .formWrapper {
    padding: 2rem 4rem;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: var(--text);
}

.formWrapper .form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  opacity: 1;
  z-index: 100;
  overflow: hidden;
  gap: 1rem;
}

.formWrapper h2 {
  font-size: 1.4rem;
  margin-bottom: 0.75rem;
  color: var(--shark-800);
  text-transform: capitalize;
}

.formWrapper h3 {
  font-size: 1rem;
  color: var(--shark-800);
  font-weight: 500;
  text-align: center;
}

[data-theme="dark"] .formWrapper h3,
[data-theme="dark"] .formWrapper h2,
[data-theme="dark"] .formGroup label {
  color: var(--pale-prim-900);
}

.formWrapper .error {
  font-size: 1rem;
  font-style: oblique;
  color: var(--error);
}

.validValueColor {
  border-color: var(--success);
}

.invalidValueColor {
  border-color: var(--error);
}

.defaultValueColor {
  border-color: rgba(255, 255, 255, 0.3);
  background: var(--text-opacity);
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--shark-800);
}

.formGroup ::placeholder {
  color: var(--text-opacity);
}

[data-theme="dark"] .formGroup ::placeholder {
  color: var(--pale-prim-900);
  opacity: .5;
}

.formGroup input {
  padding: 0.75rem;
  border-radius: 4px;
  border-width: 0;
  background: var(--shark-200);
  color: var(--shark-800);
  font-size: 1rem;
  outline: none;
  transition: background 0.3s ease, border-color 0.3s ease;
}

.formGroup input:focus {
  outline: none;
  background: var(--text-low-opacity);
}

.formGroup input:autofill {
  transition: background-color 604800s;
}

.formGroup input:autofill,
.formGroup input:-webkit-autofill {
  color: var(--shark-800) !important;
  -webkit-text-fill-color: var(--shark-800) !important;
}

.formGroup input::selection {
  color: var(--science-blue-500) !important;
}

.formGroup input:focus::details-content {
  color: var(--science-blue-500) !important;
}

.submitButton,
.referencePath {
  padding: 0.75rem 1.5rem;
  background: var(--text-low-opacity);
  color: var(--shark-800);
  outline: none;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  transition: all 0.3s ease;
}

.referencePath {
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.submitButton:hover,
.referencePath:hover {
  background: #0466c8;
}

[data-theme="dark"] .submitButton:hover,
[data-theme="dark"] .referencePath:hover {
  background: var(--shark-50);
  color: var(--pale-prim-900);
}

.submitButton:disabled {
  cursor: not-allowed;
  border: none;
}

[data-theme="light"] .submitButton:hover,
[data-theme="light"] .referencePath:hover {
  color: #f4f6f7;
}