.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/************* Carousel Slide **************/
.carouselSlideWrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 100;
}

.dotsWrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  gap: 10px;
  z-index: 10;
}

/************* Carousel Links **************/

.links {
  padding: 3rem;
}

.carouselLinksWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  z-index: 100;
  margin: 1rem 2rem;
}

.linksWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 10;
}

@media screen and (min-width: 1024px) {
  .linksWrapper {
    gap: 4rem;
  }
  
}

/*---*/

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  flex: 1;
  z-index: 100;
}

.cardsWrapper {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .cardsWrapper {
    height: 100vh;
  }
  
}

.menu {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.menu h2 {
  color: var(--text);
}

.menuItemsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
}

/* image section*/
.contactBadgeWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
}

@media screen and (min-width: 1024px) {
  .contactBadgeWrapper {
    padding-bottom: 5rem;
  }
  
}

.containerBadge {
  position: relative;
  background: linear-gradient(90deg, #f9572a, #ffc905);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

[data-theme="dark"] .containerBadge {
  background: var(--shark-50);
  background-size: 100%;
}

.containerBadge h2 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-30%);
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #ffffc2;
  padding-bottom: 1rem;
  text-align: center;
}