.container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  gap: 0.2rem;
}

.starContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.starWrapper {
  display: flex;
}

.starButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  background: transparent;
  color: var(--neutral-500);
  cursor: pointer;
}

[data-theme="dark"] .starButton {
  color: var(--apple-500);
}

.star {
  width: 1.1rem;
  height: 1.1rem;
}

.rating {
  display: flex;
  justify-content: center;
  height: 100%;
  font-size: 0.8rem;
  color: var(--neutral-600);
  margin-left: .5rem;
}

.error {
  color: var(--error);
  opacity: 0.5;
  width: 100%;
  font-size: 0.8rem;
  text-align: center;
  font-style: italic;
}
