.menuItemsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
}

@media (min-width: 480px) and (max-width: 1024px) {
  .menuItemsWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem
  }
  
}
.previewWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

@media screen and (min-width: 1024px) {
  .previewWrapper {
    flex-direction: row;
    height: 10rem;
    width: 70%;
  }
  
}

.imgWrapper {
  position: relative;
  width: 100%;
  height: 10rem;
  overflow: hidden;
  border-radius: 4px;
}

@media screen and (min-width: 1024px) {
  .imgWrapper {
    height: 100%;
    width: 20%;
  }
  
}

.imgWrapper img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 4px;
  object-fit: cover;
  background: linear-gradient(90deg, #f9572a, #ffc905);
}

.imgWrapper:hover img {
  transform: scale(1.5);
}

.new {
  pointer-events: none;
  font-size: medium;
  font-weight: lighter;
  text-transform: lowercase;
  background: linear-gradient(90deg, #f9572a, #ffc905);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text);
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .info {
    width: 60%;
  }
  
}

.price {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
}

.price span {
  font-weight: 700;
}