.categoryWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  opacity: 1;
  z-index: 100;
  background: var(--background);
  position: relative;
}

.containerTopNavbar {
  height: 4rem;
}

[data-theme="light"] .containerTopNavbar {
   background:  var(--science-blue-800);
}


.linkWrapper {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.linkWrapper button {
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  background: var(--shark-800);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;
}

.linkWrapper button:hover {
  background: #0466c8;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menuItemsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
}

.overlay {
  background: #23100695;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.icon {
  opacity: 0;
  animation: fadeInOut 2s infinite;
  filter: brightness(1.7);
}

.overlay :nth-child(1) { animation-delay: 0s; }
.overlay :nth-child(2) { animation-delay: 0.1s; }
.overlay :nth-child(3) { animation-delay: 0.2s; }
.overlay :nth-child(4) { animation-delay: 0.3s; }
.overlay :nth-child(5) { animation-delay: 0.4s; }
.overlay :nth-child(6) { animation-delay: 0.5s; }

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  10%, 30% {
    opacity: 1;
    transform: translateX(0);
  }
  50%, 100% {
    opacity: 0;
    transform: translateX(100%);
  
  }
}